.chordpicker {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  display: none;
  background-color: rgba(0,0,0,0.6);
}

.chordpicker::before {
  content: '';
  height: 100%;
  width: 5px;
  vertical-align: middle;
  display: inline-block;
}

.chordpicker ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.chordpicker li {
  cursor: pointer;
  box-sizing: border-box;
}

.chordpicker li.sel {
  box-shadow: 0 0 10px white inset;
  background-color: rgba(230,130,130,1);
}



.chordpicker .roots li:not([data-note]) {
  position: relative;
  display: flex;
}

.chordpicker .roots li[data-note],
.chordpicker .qualities li {
  background-color: rgba(200,100,100,1);
  padding: 8px;
  margin: 8px;
}

.chordpicker .roots li[data-note]:nth-child(2) {
  margin-left: 0;
}

.chordpicker .roots li[data-note]:hover,
.chordpicker .qualities li:hover {
  background-color: rgba(250,150,150,1);
}

.chordpicker .roots li li[data-note] {
  flex: 1;
  display: inline-block;
  margin: 0 8px;
}


.chordpicker .qualities {
  display: none;
}

