body {
  text-align: center;
  font-size: 16pt;
}

div, iframe {
  background-color: rgba(100,0,0,0.1);
  box-shadow: 0px 0px 4px black;
}

.addvid, .vid, .submit, .punch { padding: 1%; }
.addvid, .vid, .punchlist, .submit, .punch { margin: 1%; }

body, input, select, button { font-size: 18pt; }

input, button, select { padding: 1%; cursor: pointer; }

.addvid INPUT {
  width: 80%;
}

.addvid BUTTON {
  width: 20%;
}

.vid .vidplayer, #player {
  display: inline-block;
  vertical-align: middle;
  width: 40vw;
  height: 30vw;
}

.vid .vidinfo {
  display: inline-block;
  vertical-align: middle;
  width: 51vw;
  height: 30vw;
  margin-left:1%;
}

.punchlist {
  height: 220px;
  overflow-y: scroll;
}

.punchrow {
  margin: 0.5%;
  padding: 0.5%;
}

.punchrow input,
.punchrow button {
  padding: 0.5%;
}

.punchrow button,
.punchrow input {
  margin-right: 1%;
  text-align: center;
}

.punchrow input {
  width: 250px;
}

.submit button {
  margin-left: 1%;
}

@media (min-width: 1200px) {
  body { 
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    width: 1200px; 
  }

  #player {
    height: 350px;
    width: 550px;
  }

  .vid .vidinfo {
    width: 585px;
    height: 350px;
  }  
}