body {
  text-align: center;
  font-size: 16pt;
}

div {
  background-color: rgba(100,0,0,0.1);
  box-shadow: 0px 0px 4px black;
}

.addvid, .vid, .submit, .punch { padding: 1%; }
.addvid, .vid, .punchlist, .submit, .punch { margin: 1%; }

body, input, select, button { font-size: 18pt; }

input, button, select { padding: 1%; cursor: pointer; }

.addvid INPUT {
  width: 80%;
}

.addvid BUTTON {
  width: 20%;
}

.vid .vidplayer, #player {
  display: inline-block;
  vertical-align: middle;
  width: 40vw;
  height: 30vw;
}

.vid .vidinfo {
  display: inline-block;
  vertical-align: middle;
  width: 51vw;
  height: 30vw;
  margin-left:1%;
}

.punchlist {
  height: 200px;
  overflow-y: scroll;
}

.punchrow {
  margin: 1%;
  padding: 1%;
}

.punchrow select {
  height: 48px;
}

.punchrow button,
.punchrow input {
  margin-right: 1%;
  text-align: center;
}

.chordpicker {
  display: inline-block;
}

.submit button {
  margin-left: 1%;
}