#timeline {
  overflow-x: scroll;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 0.4em black;
  padding: 0.4em;
}

#timeline .chords {
  padding-bottom: 0.4em;
  white-space: nowrap;
  display: flex;
}

#timeline .chord {
  display: inline-block;
  background-color: rgba(250,100,150,0.5);
  padding: 0.5em 2em;
  margin: 0.2em;
  text-align: center;
  border-radius: 2em;
}

#timeline .chord .chordname {
  padding: 0.2em;
}

#timeline .chordtime {	
  font-size: 0.8em;
}

#timeline .scale {
  background-color: white;
  height: 2em;
  border-radius: 2em;
}