html
  head
    == js  ['rivets','lib','fretboard']
    == css ['fonts']

    javascript:
      window.onload = function() { 
        fretboard = new Fretboard( id('fretboard_container') );
      }

    css:
      body {
        background: rgb(180,180,180);
      }

  body
    #fretboard_container