html
  head
    == js  ['rivets','lib','resize_fretboard']
    == css ['fonts']

    javascript:
      window.onload = function() { 
        fretboard = new Fretboard( id('fretboard_container') );
        fretboard.load_cmd([26,46,15,25,45,14,34,44,13,33,43,22,42,11,21,0]);
      }

    css:
      body {
        background: rgb(180,180,180);
        text-align: center;
      }

      #fretboard_container {
        white-space: nowrap;
        border: 1px solid black;
        display: inline-block;
        width: 30vw;
        height: 25vw;
      }

      #fretboard_container::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      #controls {
        margin-top: 2em;
      }

  body
    #fretboard_container
