body {
  text-align: center;
  font-size: 16pt;
  background-image: url('background.jpg');
  background-size: cover;
  min-height: 100vh;
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body::before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
}

.content {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
  background-color: rgba(255,255,255,0.8);
}

.header, .addvid, .vid, .vid .vidinfo, .punchlist, .submit, #palette_container, #timeline_container, iframe {
  box-shadow: 0px 0px 4px black;
}

.header, .addvid, .vid, .submit, .punchlist, #palette_container, #timeline_container {
  background-color: rgba(90,0,0,0.3);
} 

.content {   
  box-shadow: 0 0 1vw black inset; 
  border-radius: 1vw;
  max-width: 1200px;
}

.content { padding: 0.5%; }

.header, .addvid, .vid, .submit, #palette_container, #timeline_container { padding: 10px; }
.header, .addvid, .vid, .punchlist, .submit, #palette_container, #timeline_container { margin: 10px; }

body, input, select, button { font-size: 18pt; }

input, button, select, label { padding: 1%; cursor: pointer; }

.header { position: relative; }

BUTTON, INPUT {
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px black;
}

.addvid INPUT {
  width: 80%;
  border-radius: 10px 0 0 10px; 
}

.addvid BUTTON {
  width: 20%;
  border-radius: 0 10px 10px 0;
}

.vid { 
  display: flex;
}

.vid #player {
  display: inline-block;
  vertical-align: middle;
  height: 30.5vw;
  flex: 0 0 46vw;
}

.vid .vidinfo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 30.5vw;
}

.vid .vidinfo:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vidinfo .title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}

.vidinfo .description {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.punchlist {
  height: 220px;
  overflow-y: scroll;
}


#on_deck {
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.header button {
  position: absolute;
  border-radius: 10px;
  font-size: 12pt;
  top: 10px;
  bottom: 10px;
  margin: auto;
}

#open {
  position: absolute;
  right: 10px; 
}

#upload{
  right: 120px;
}

#filename {
  border-radius: 10px;
  margin: 0 20px;
  width: 200px;
}

.punchrow {
  margin: 4px;
  padding: 5px;
  box-shadow: 0px 0px 5px black inset;
  border-radius: 10px;
  display: inline-block;
  padding: 8px 10px 8px 20px;
}

.punchrow input,
.punchrow button {
  padding: 3px;
}

.punchrow button,
.punchrow input {
  margin-right: 10px;
  text-align: center;
}

.punchrow input {
  width: 250px;
}

.punchrow[data-selected=true] {
  background-color: rgba(0,255,0,0.4);
}

.submit button {
  margin-left: 1%;
}

#songlist {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 10;
}

#songlist .list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60vw;
  height: 60vh;
  margin: auto;
  background-color: rgba(255,255,255,0.7);
  overflow-x: auto;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

#songlist .song {
  padding: 10px;
  margin: 10px;
  background-color: rgba(200,150,150,0.8);
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

#songlist .song:hover {
  background-color: rgba(200,150,150,0.6);
}

.picker {
  width: 230px;
  height: 1.5em;
  display: inline-flex;
  margin: 0;
}

.picker INPUT {
  width: 100px;
  flex: 1;
  margin-right: 0;
}

.picker .ctrl {
  position: relative;
}

.picker .ctrl button {
  height: 50%;
  display: block;  
  font-size: 0.5em;
  width: 2em;
}

#palette,
#timeline {
  font-size: 12px;
}


@media (min-width: 1200px) {

  .vid #player {
    width: 520px;
    height: 350px;
    flex: 0 0 520px;
  }

  .vid .vidinfo {
    width: 100%;
    height: 350px;
  }  
}

@media (max-width: 700px) {
 
  body { max-height: 100vh; }

  body, input, select, button { font-size: 10pt; }

  .vid .vidinfo {
    display: none;
  }

  .vid #player {
    height: 55.5vw;
    flex: auto;
  }

  .punchrow input {
    width: 90px;
  }

  .punchlist {
    height: 160px;
  }

  .punchrow button {
    width: 70px;
  }

  #logo {
    max-width: 80%;
  }

}